/*Custom Styles for the user page*/

.information-container {
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius:2px;
    
}

.information-container {
    margin-bottom:1rem;
}


.view-id-membership_details .table-responsive{
    overflow:hidden;
}

@media (min-width: 768px) {
    #block-views-block-membership-details-block-1 {

    
}
}
