/**
 * Place your custom styles here.
*/

 /*Layouts*/
 .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-4 {
   
}
.col-lg-4, .col-md-6, .col-sm-12, .col-lg-3, .col-md-3, .col-sm-6 {
   
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.header-container.container, .header-top-highlighted .container {
    width: 100%;
    padding:0;
}

.header-top-highlighted .container .row {
    margin:0;
}

.banner .container  {
    width: 100%;
}

.navbar {
    margin-bottom:0;
}
.navbar-header {
    float:none;
}

.region-content {
    margin-top:40px;
}
.front .region-content {
    margin:0;
}
.region-sidebar-first {
    margin-top:80px;
}
.front .footer {
    margin-top:0;
}

/*Front-page layout*/

.front .main-container .container{
    width: 100%;
}

/*Global Styles*/

body {
    font-family:'Roboto', sans-serif;
    font-size:14px;
    color : #494C52;
}

h1 {
    font-size:4.5rem;
    color : #A84D90;
}
h2, h2 a {
    font-size:2.15rem;
    color : #494C52;
}

h2 a {
  text-decoration: underline;
}
h3 {
    font-size:1.6rem;
    color : #A84D90;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

footer, .footer-bottom, .footer-top__container{
    background-color:#494C52;
    color:#BEBEBE;
    
}

.footer.container, .footer-top__container, .footer-bottom {
    width:100%;
}

.white-text {
    color:#fff;
    font-weight:700;
}
.btn-primary {
    background-color:#00A160;
    border-color:#00A160;
}

.btn-primary:hover, .btn-primary:focus {
    background-color:#00c978;
    border-color:#00A160;
}

.link-list {
    line-height: 1.8em;
}

.pagination > li > a, .pagination > li > span {
    color:#A84D90;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    color:#A84D90;
    background-color:#eeeeee;
    border-color: #A84D90;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    z-index: 2;
    color: #A84D90;
    background-color: #eeeeee;
    border-color: #A84D90;
}

a.button, .button > a, input[type="submit"], input[type="reset"], input[type="button"] {
    padding: 10px 15px 8px 15px;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
    background-color: transparent;
    text-transform: uppercase;
}

a.button.green-button, .button.green-button > a  {
    font-size: inherit;
    padding: 10px 15px 8px 15px;
    text-transform: none;
    background:#00A160;
    border:1px solid #00A160;
    margin-top:-10px;
}


a.button.green-button.support-line {
    margin-right:-15px;
}
a:focus {
    outline-color: rgb(77, 144, 254); 
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}
a.button.green-button:hover, .button.green-button > a:hover, 
a.button.green-button:focus, .button.green-button > a:focus{
    background:transparent;
    color:#00A160;
}

img.multi {
    position: relative;
    left: 22px;
}
a.button.green-button.multicultural {
    padding-left: 25px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/*Colours*/

.green {
  background: #00A160;
}

.blue {
  background: #25408E;
}

.purple {
  background: #A84D90;
}

/*Header-top Highlighted*/

.header-top-highlighted { 
    background-color: transparent;
}

/*Navbar*/

.navbar-default {
    background-color: transparent;
    border-bottom: 3px solid #A84D90;
    border-top: 0px;

}

ul.sf-menu a, ul.sf-menu span.nolink {
    color: #A84D90;
    /* font-size: 1.4rem; */
    font-size: 1.25rem;
    padding: 1.5rem 1.2rem 1.5rem 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
}



ul.sf-menu li, ul.sf-menu.sf-navbar, ul.sf-menu li li, ul.sf-menu.sf-navbar > li > ul {
    background:#fff;
}

ul.sf-menu li:hover, ul.sf-menu li.sfHover, ul.sf-menu a.is-active, ul.sf-menu a:focus, ul.sf-menu a:hover, ul.sf-menu span.nolink:hover, ul.sf-menu a.sf-with-ul:hover, ul.sf-menu li.sfHover > a {
    /*background: #25408E;
    color:#fff;*/
    background-color: #eeeeee;
}

ul.sf-menu li:hover > ul, ul.sf-menu li.sfHover > ul {
    top:3em;
}

a.sf-accordion-button {
    float: right;
    z-index: 1000;
}

a.sf-accordion-button .expand {
    display:none;
}
ul.sf-menu .sf-sub-indicator:after, ul.sf-menu.sf-accordion.sf-accordion-with-buttons .sf-accordion-button:after {
    content: '\f078';
    font-family: FontAwesome;
    font-size: 1em;
    color: #A84D90;
    font-weight: 900;
    cursor: pointer;
    line-height: 1.5rem;
}

ul.sf-menu.sf-accordion.sf-accordion-with-buttons li.sf-expanded > .sf-accordion-button:after {
    content: '\f077';
    font-family: FontAwesome;
    font-size: 1em;
    color: #A84D90;
    font-weight: 900;
    cursor: pointer;
    line-height: 1.5rem;
}

ul.sf-menu .sf-sub-indicator {
    top:40%;
}

.sf-accordion-toggle {
    margin-left:15px;
}

.sf-accordion-toggle a:hover, .sf-accordion-toggle a:focus{
    text-decoration:none;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px;
}

#superfish-main-accordion li a.sf-depth-2 {
    padding-left:25px;
}
#superfish-main-toggle:before {
    font-family: FontAwesome;
    content: '\f0c9';
    font-size: 3em;
    color: #A84D90;
    font-weight:900;
    cursor: pointer;
}

#superfish-main-toggle.sf-expanded:before {
    font-family: FontAwesome;
    content: '\f00d';
    font-size: 3em;
    color: #A84D90;
    font-weight:900;
    cursor: pointer;
}


#superfish-main-toggle span {
    position:relative;
    left:-99999px;
}

/*Header*/

#block-headerlogo {
    float:left;
    margin: 0px 20px 20px 10px;
}

.header-container .block-superfish {
   float: left;
    width: auto;
    position: relative;
    /* top: 111px; */
    top: 113px;
    margin-right:5px;
}

#block-headerctabuttons {
    /*float: right;*/
    /*position: relative;
    top: 105px;*/
}
#block-headerctabuttons ul{
    list-style:none;
}

#block-headerctabuttons ul li {
    float:left;
    color: #25408E;
    padding: 10px 2px 8px 2px;
    font-size: 1.35rem;
}

#block-mobilectablock {
    background-color: transparent;
    text-align:center;
}


#block-mobilectablock a {
   padding: 10px 10px 5px 10px;
   color: #fff;
   border: 2px solid #fff;
   border-radius: 10px;
   background-color: #00A160;
}
#block-mobilectablock a:hover {
    background-color: #00c978;
    border-color: #00A160;
}



#block-mobilectablock .fa-phone:before {
    content: "\f095";
    font-size: 3rem;
    

}


#block-mobilectablock .col-4 a {
    color:#fff;
}
#block-mobilectablock .fa-gift:before {
    content: "\f06b";
    font-size: 3rem;
   
}

#block-mobilectablock .fa-group:before, #block-mobilectablock .fa-users:before {
    content: "\f0c0";
    font-size: 3rem;
    
}

#block-mobilectablock .multi:before {
    background-image: url(/themes/btaastrap/images/multi-culti-icon_2_.png);
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    display: inline-block;
    content: ' ';
    background-size: contain;
}

.search-block-form {
    position: relative;
    top: 115px;
}

.search-block-form .input-group .form-control {
    max-width:250px;
    float:right;
}

a.button.white {
    width: 70%;
    background-color: transparent;
    padding: 5px 10px;
    margin: 20px auto;
    border: 1px solid #ccc;
    transition: 0.3s;
    border-radius:0px;
   
}

a.button.white:hover, a.button.white:focus {
    background: #fff;
    color: #494C52;
    border: 1px solid #fff;
}

/*Side Menu*/

.region-sidebar-first ul {
    margin-left:-10px;
    margin-right: -10px;
}

.region-sidebar-first .navbar-nav > li {
    width:100%;
    padding:0.2em 0;
}

.region-sidebar-first .navbar-nav > li a {
    padding: 5px 0 9px 10px;
    color: #A84D90;
    font-size: 1.8rem;
}

.region-sidebar-first .navbar-nav > li a.is-active {
    text-decoration: none;
    background-color: #eeeeee;
}


#block-mainnavigation {
    background: #faf5f8;
    display: inline-block;
    padding: 10px;
    border-top: 5px solid green;
    width:100%;
}

#block-mainnavigation #block-mainnavigation-menu {
    text-transform: uppercase;
    color: #26328c;
}

/* Banner */

.not-front .banner {
    order: 1;
}
    
.not-front .banner__row {
  background: #25408E;
  color: #fff;
  padding: 40px 60px;
}

.not-front .banner__section_wrapper {
  width: 80%;
  max-width: 1000px;
  margin: auto;
}

/*Blocks*/

#block-homepagehero .field--name-body{
    /*width: 70%;*/
    position: relative;
    bottom: 345px;
    right: 30px;
    color: #fff;
    background: rgba(0,0,0,0.7);
    padding: 5px 20px 20px 20px;
    box-shadow: 5px 5px rgba(0,0,0,0.2);
    max-width: 550px;
    border-radius: 10px;
    float:right;
}

#block-homepagehero .field--name-body h2 {
    color: #fff;
}

#block-frontgreenbox1 {
    padding:0;
}
.container #block-frontgreenbox1 .field--name-body {
    margin: 0 -15px;
}

.front-blocks-container{
    display: flex;
    flex-wrap: wrap;
}
.front-block {
    color: #fff;
    height: 350px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding:35px;
}

.front-block h2, 
.front-block h3 {
    color:#fff;
}

.front-block p {
    font-size: 1.6rem;
}
.front-block.green:after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 0;
    height: 0;
    z-index: 5;
    border-top: 15px solid transparent;
    border-left: 20px solid #00A160;
    border-bottom: 15px solid transparent;
}

.front-block.leaves {
    background:url(/themes/btaastrap/images/leaves.jpeg);
    background-repeat: no-repeat;
    background-size: auto; /* 1000px */; 
    background-position: -300px 0px;
}

.front-block.green.leaves:after, .front-block.purple.flowers:after, .front-block.blue.ripple:after, .front-block.blue.ripple:before  {
    border:none;
}


.front-block.flowers {
    background:url(/themes/btaastrap/images/purple-flowers.jpg);
    background-repeat: no-repeat;
    background-size: auto; /* 1000px */; 
    background-position: -60px -100px;
}

.front-block.ripple {
    background: url(/themes/btaastrap/images/ripple.jpeg);
    background-repeat: no-repeat;
    background-size: auto; /* 1000px */; 
    background-position:-40px -10px;
}

.front-block a.white.button {
    font-size:2rem;
    border: 2px solid #fff;
    border-radius:0px;
     line-height:30px;
}

a.button.white.multicultural:before {
    background-image: url(/themes/btaastrap/images/multi-culti-icon_2_.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
    right: 10px;
    display: inline-block;
    content: ' ';
    background-size: contain;
    background-position: center;
}

a.button.white.multicultural {
    line-height: 30px;
}

a.button.white.multicultural:hover::before,a.button.white.multicultural:focus::before {
    filter:invert(75%);
}

#block-btaadisclaimer {
    width: 70%;
    float: left;
    margin: 0 0 40px 0;
}

#block-footerbottom {
    float: right;
}

#block-views-block-our-people-block-1 .views-row {
    border-bottom: 1px solid #eaeaea;
    margin: 1rem 0rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    display: inline-block;
    height: auto;
    width: 100%;

}


#block-views-block-our-people-block-1 .views-field-field-image{
    float: left;
    
 }
 
 #block-views-block-our-people-block-1 .views-field-field-image img {
     margin: 0rem 2rem 1rem 0rem;
 }


/*Footer*/

.menu--footer li {
    width:50%;
    float:left;
}

.menu--footer li a {
    text-transform: uppercase;
    color: #BEBEBE;
    transition: 0.3s;
}

.menu--footer li a:hover, .menu--footer li a:focus {
    color: #494C52;
}

.footer-link {
    color: #ccc;
    transition: 0.3s;
}

.footer-link:hover, .footer-link:focus {
    color: #fff;
}

ul.social_media_links  {
    padding-left: 0;
    margin: 0.5rem 0rem 0.5rem 0rem;
}

ul.social_media_links li {
    display: inline-block;
    padding-right: 2.2rem;
}

.element_invisible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
}

.social_media_links .twitter a:before {
    content: ' ';
    display: block;
    background: url(/themes/btaastrap/images/twitter.png) no-repeat 0 0;
    height: 29px;
    width: 29px;
    background-size:contain;
}

.social_media_links .twitter a:hover:before, .social_media_links .twitter a:focus:before {
    content: ' ';
    display: block;
    background: url(/themes/btaastrap/images/twitter-hover.png) no-repeat 0 0;
    height: 29px;
    width: 29px;
    background-size:contain;
}

.social_media_links .facebook a:before {
    background-image: url(/themes/btaastrap/images/facebook.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    content: ' ';
    background-size:contain;
}

.social_media_links .facebook a:hover:before,.social_media_links .facebook a:focus:before {
    background-image: url(/themes/btaastrap/images/facebook-hover.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    content: ' ';
    background-size:contain;
}

.social_media_links .google a:before {
    background-image: url(/themes/btaastrap/images/google.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    content: ' ';
    background-size:contain;
}

.social_media_links .google a:hover:before,.social_media_links .google a:focus:before {
    background-image: url(/themes/btaastrap/images/google-hover.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    content: ' ';
    background-size:contain;
}

.social_media_links .linkedin a:before {
    background-image: url(/themes/btaastrap/images/linkedin.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    content: ' ';
    background-size:contain;
}

.social_media_links .linkedin a:hover:before, .social_media_links .linkedin a:focus:before {
    background-image: url(/themes/btaastrap/images/linkedin-hover.png);
    background-repeat: no-repeat;
    height: 29px;
    width: 29px;
    display: block;
    content: ' ';
    background-size:contain;
}



/*Views*/
.view-news-page .views-row {
    border-bottom: 1px solid #eaeaea;
    margin: 2rem 0rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    max-height: 300px;
    display: inline-block;
    width: 100%;
    height: auto;
}
.view-news-page .views-field-field-tags {
    background: #A84D90;
    color: #ffffff;
    width: auto;
    display: inline-block;
    position: relative;
    padding: 0px 7.5px;
    padding: 0rem 0.75rem;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 25px;
    line-height: 2.5rem;
    margin-bottom: 7.5px;
    margin-bottom: 0.75rem;
}
.view-news-page .views-field-title {
    clear: left;
    display: inline;
}

.view-news-page .views-field-title h2 {
    margin: 0;
}

.view-news-page .views-field-field-image{
    float: left;
    max-width: 225px;
    height: auto;
    padding: 0rem 2rem 1rem 0rem;
 }
 .view-news-page .views-field-created {
    text-transform: uppercase;
    font-size: 14px;
    font-size: 1.4rem;
    letter-spacing: 0.8px;
    letter-spacing: 0.08rem;
    padding: 5px 0px;
    padding: 0.5rem 0rem;
}

.view-news-page .form-inline .radio input[type="radio"], .view-news-page .form-inline .checkbox input[type="checkbox"] {
    display:none;
}

.view-news-page .form-inline .radio label {
    border: 2px solid #337ab7;
    padding: 10px;
    color: #337ab7;
    font-size: 1.8rem;
    border-radius: 25px;
}

.view-support-organisations .views-row {
    border-bottom: 1px solid #eaeaea;
    margin: 0rem 0rem 2rem 0rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    display: inline-block;
    height: auto;
    width: 100%;
}

.view-support-organisations .views-field-title {
    clear: left;
    display: inline;
}

.view-support-organisations .views-field-field-organisation-logo{
    float: right;
    max-width: 200px;
    min-height: 100px;
 }

.view-support-organisations .views-field-field-organisation-logo img {
  padding: 0rem 2rem 1rem 2rem;
}

.view-support-organisations .views-exposed-form .form-group {
    float: left;
    margin-right:5px;
}

.view-fact-sheets .view-header {
    margin-bottom:10px;
}

/*Related News Block*/

.view-news-page.view-display-id-block_1 .views-row {
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.related-link {
    height: auto;
    display: inline-block;
    width: 100%;
    padding:15px 0;
}

.related-link img {
    float: left;
    margin-right: 10px;
}

.related-link .text-container {

}

.related-link:hover {
    background-color:#eeeeee;
}
.related-link a {
    color:#A84D90;
}

/*Events Page*/

.more_info a.button.green-button {
    width:100%;
    margin-top:15px;
}

.node__side {
    background-color: #e9e9e9;
    padding-bottom:10px;
}

.view-events .views-field-field-image {
    float: left;
    max-width: 225px;
    min-height: 200px;
    padding: 0rem 2rem 1rem 0rem;
}

.view-events .views-row {
    border-bottom: 1px solid #eaeaea;
    margin: 4rem 0rem;
    padding-bottom: 4rem;
    padding-right: 4rem;
    min-height: 200px;
}

.view-events .views-field-field-event-location {
    margin:5px 0;
}

.contacts {
    margin-top:10px;
}

.contacts.col-sm-6, .contacts.col-xs-12 {
    padding:0;    
}

/* Landing pages */

.node-17 .page-header {
  text-align: center;
}

.landing-page--inner {
  margin: 10px 0;
  text-align: center;
  color: #ffffff;
}

.landing-page--inner h3 {
  padding: 100px 0;
  /*background: rgba(0, 0, 0, 0.4);*/
  transition: 0.5s;
}

.landing-page--inner h3.green:hover, .landing-page--inner h3.green:focus,
.landing-page--inner h3.blue:hover, .landing-page--inner h3.blue:focus,
.landing-page--inner h3.purple:hover, .landing-page--inner h3.purple:focus  {
  background: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.landing-page--inner h3.green {
    background-color:rgba(0, 161, 94, 0.8)
}
.landing-page--inner h3.blue {
    background-color:rgba(38, 65, 140, 0.8)
}
.landing-page--inner h3.purple {
    background-color:rgba(166, 76, 142, 0.8)
}

.landing-page--inner a {
  color: #ffffff;
}

.background-about-small {
    background: url('/sites/default/files/images/about-small.jpg');
}

.background-clinical-trials-small {
    background: url('/sites/default/files/images/clinical-trials-small.jpg');
}

.background-support {
    background: url('/sites/default/files/images/support-hands.jpg');
}

.background-living-small {
    background: url('/sites/default/files/images/living-small.jpg');
}

.background-links-small {
    background: url('/sites/default/files/images/links-small.jpg');
}

.background-multicultural {
    background: url('/sites/default/files/images/multiculturalism.jpg');
}

/*Help and Support Pages*/

.background-phonesupport {
    background: url('/sites/default/files/images/phone-support.jpeg');
}

.background-subscribe {
    background: url('/sites/default/files/images/subscribe.jpeg');
}

.background-members {
    background: url('/sites/default/files/images/members.jpeg');
}

.background-donate {
    background: url('/sites/default/files/images/donate.jpg');
}

.background-landing-page.background-donate {
    background-size:100% 100%;
}

.background-landing-page.background-donate:hover {
    background-size: 110% 110%;
}

.background-fundraise {
    background: url('/sites/default/files/images/fundraise.jpeg');
}
.background-gift {
    background: url('/sites/default/files/images/gift.jpeg');
}

.background-welcomepack {
    background: url('/sites/default/files/images/welcome.jpeg');
}

/* News */
.background-news {
    background: url('/sites/default/files/images/news.jpg');
}
.background-latestnews {
    background: url('/sites/default/files/images/latest-news.jpg');
}
.background-enews {
    background: url('/sites/default/files/images/e-news-image.png');
}
.background-magazine {
    background: url('/sites/default/files/images/btaa-magazine.png');
}
.background-stories {
    background: url('/sites/default/files/images/stories.jpeg');
}
.background-popular {
    background: url('/sites/default/files/images/popular.jpeg');
}
/* About pages */


.background-information {
    background: url('/sites/default/files/images/information.jpg');
}

.background-ambassadors {
    background: url('/sites/default/files/images/ambassadors.jpg');
}

.background-grants {
    background: url('/sites/default/files/images/support-small.jpg');
}

.background-people {
    background: url('/sites/default/files/images/our-people.jpg');
}

.background-projects {
    background: url('/sites/default/files/images/projects.jpg');
}

.background-publications {
    background: url('/sites/default/files/images/publications.jpg');
}

.background-who-we-are {
    background: url('/sites/default/files/images/drop.jpg');
}

.background-landing-page {
    background-position: center;
    background-size: 100%;
    transition: 0.5s;
}

.background-landing-page:hover {
    transition: 0.5s;
    background-size: 105%;
}

/* Language pages */

.language-box {
     
}
 
.language-box--inner {
  padding: 20px;
  margin: 10px 0;
  min-height: 130px;
  text-align: center;
  color: #ffffff;
  border-radius:4px;
}

.language-box--inner a {
  color: #ffffff;
}

/*Donate Boxes*/

#block-paypaldonations-3 ul {
    padding-left:0;
}
#block-paypaldonations-3 li {
    list-style-type: none;
    float: left;
}
#block-paypaldonations-3 ul li input[type="radio"] {
    display:none; 
}

#block-paypaldonations-3 ul li input[type="radio"]:checked + label { 
    background-color: #A84D90;
    color:#faf5f8;
}
#block-paypaldonations-3 ul li label {
    display:inline-block;
    background-color:#faf5f8;
    color:#A84D90;
    padding: 10px 20px;
    font-size:16px;
    border: 2px solid #A84D90;
    border-radius: 4px; 
    margin-right:10px;
}
#block-paypaldonations-3 ul li:last-of-type label {
    padding:7px 20px;
}

#block-paypaldonations-3 ul li label:hover, #block-paypaldonations-3 ul li label:focus {
  background-color: #A84D90;
  color:#faf5f8;
}

#block-paypaldonations-3 .recuring-checkbox {
    clear:both;
}

#block-paypaldonations-3 .message {
    clear:both;
    width:100%;
}

#block-paypaldonations-3 .green-button {
    font-size: inherit;
    padding: 10px 15px 8px 15px;
    text-transform: uppercase;
    background:#00A160;
    border:1px solid #00A160;
    color:#fff;
    border-radius:5px;
    text-align: center;
}

.green-button:hover, .green-button:focus{
    background:transparent;
    color:#00A160;
}
#block-paypaldonations-3 .message input {
    border:1px solid #A84D90;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}

#block-paypaldonations-3 .message textarea {
  border:1px solid #A84D90;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
}
#block-paypaldonations-3 .message label {
    font-size:1.7rem;
    margin-top:2%;
}


#block-paypaldonations-3 .button {
    clear:both;
}

/*User Page Styles*/

.field--label {
    width:20%;
    float:left;
}

/*Commerce*/

/*Cart Block*/

.cart-block--summary {
    display:none;
}

.cart-block--contents__inner {
    padding:0;
}

.cart--cart-block .cart-block--contents a.btn-success {

    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;

}

.cart--cart-block .cart-block--contents #edit-actions--2 {
    display:none;
}
.cart-block--contents {
    width:100%;
}

#block-paymentblurb {
    margin-top: 30px;
}

/* Shopping cart form */
.path-cart .cart-form .paypal-buttons-container {
  float: left;
  width: 200px;
  margin: 0 10px 10px 0;
}

.path-cart .cart-form .form-actions {
  float: left;
}

.path-cart .field--type-commerce-price {
  margin-bottom: 20px;
}


/*Product Page*/

.product--variation-field--variation__field_layout__1 .field {
    font-size:1.5rem;
    margin:1rem 0;
}

.product--variation-field--variation__field_layout__1 .field--name-price, td.views-field-total-price__number {
    font-size:2em;
}

#commerce-product-add-to-cart-form, .commerce-order-item-add-to-cart-form-commerce-product-1 {
    font-size:1.5rem;
    margin:1rem 0;
}

#commerce-product-add-to-cart-form .input-group {
    margin:1rem 0;
}


/* Hide paypal option on checkout form */
.js-form-item-payment-information-payment-method:nth-child(3) {
    display: none;
}

/*Checkout form Styles*/
td.views-field-remove-button {
    width:100px;
}


.form-required::after {
    background-image:url('../images/required.svg');
    background-size:7px;
    background-repeat:no-repeat;
}

.view-product-block {
    display:none;
}

.non-member .view-product-block {
    display:block;
}